body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: black;
  color: #f9f9f9;
}
    
section {
  max-width: 800px;
  margin: auto;
  background: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h5 {
  color: #9fdcff;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

ol {
    padding-left: 20px;

}

.LightGreycolor {
    color: lightgray;
}

.SmallerText {
    font-size: 0.8em;
    color: #9fdcff;
}

.Blocksatz {
    text-align:justify;

}

@media (max-width: 600px) {
    body {
    padding: 10px;
  }

  section {
    padding: 15px;
  }
}
